@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

section {
    text-align: center;
    font-family: 'Itim', cursive;
    background: linear-gradient(90deg, rgba(158, 70, 130, 1) 0%, rgba(34, 9, 121, 1) 34%, rgba(0, 212, 255, 1) 100%);
    100%);
    color: white;
    font-size: 50px;
}

img {
    width: 10%;
    height: 20%;
    border-radius: 50%;
}

hr {
    height: 6px;
    background-color: #FAFAFA;
    width: 200px;
    margin: 8px auto;
}

h1 {
    padding-top: 100px;
    text-shadow: 2px 3px black;
    text-align: center;
}

section{
    background-color:pink;
}
p {
    text-shadow: 2px 1px black;
}

.menu {
    list-style: none;
    font-family: 'Itim', cursive;
    float: right;
    top: 10px;
    right: 30px;
    cursor: pointer;
    color: aquamarine;
    z-index: 10px;
    font-size: 20px;
}

.link {
    float: left;
    color: beige;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    background-color: crimson;
    text-decoration: underline;
    text-shadow: 2px 3px black;
    
}

.link:hover {
    background-color: white;
    text-decoration-color: bold;
}
